<a href="https://colab.research.google.com/github/matthewpecsok/imbd_tf/blob/main/imbd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [55]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.imdb.load_data(num_words=10000)

<string>:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/datasets/imdb.py:159: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_train, y_train = np.array(xs[:idx]), np.array(labels[:idx])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/datasets/imdb.py:160: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_test, y_test = np.array(xs[idx:]), np.array(labels[idx:])

In [22]:
word_index = tf.keras.datasets.imdb.get_word_index()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb_word_index.json
1646592/1641221 [==============================] - 0s 0us/step

In [28]:
word_index['fawn']

34701

In [31]:
# why in the world it's indexed by word?
reverse_word_index = dict([(value,key) for (key,value) in word_index.items()])

In [32]:
reverse_word_index[4]

'of'

In [54]:
reverse_word_index[1]

'the'

In [48]:
min([max(sequence) for sequence in x_train])

394

In [53]:
pd.DataFrame(x_train)

                                                       0
0      [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...
1      [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...
2      [1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...
3      [1, 4, 18609, 16085, 33, 2804, 4, 2040, 432, 1...
4      [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...
...                                                  ...
24995  [1, 14, 9, 6, 2758, 20, 21, 1517, 7, 2078, 5, ...
24996  [1, 4679, 2784, 299, 6, 1042, 37, 80, 81, 233,...
24997  [1, 11, 6, 230, 245, 6401, 9, 6, 1225, 446, 86...
24998  [1, 1446, 7079, 69, 72, 3305, 13, 610, 930, 8,...
24999  [1, 17, 6, 194, 337, 7, 4, 204, 22, 45, 254, 8...

[25000 rows x 1 columns]

In [21]:
np.sum(y_train)/y_train.shape[0]

0.5

# encode fun

In [56]:
def vector_seq(seq,dim=10000):
  res = np.zeros((len(seq),dim))
  for i, seq in enumerate(seq):
    res[i,seq] = 1.
  return(res)

# encode

In [59]:
x_train_enc = vector_seq(x_train)
x_test_enc = vector_seq(x_test)

In [60]:
x_train_enc

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])

In [62]:
x_train_enc.shape

(25000, 10000)

In [63]:
x_train_enc.dtype

dtype('float64')

we have an array of 25,000 rows and 10,000 columns. columns are words, rows are documents